__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
ngc_models/
tensor_board/
dist/
benchmark/
benchmark_*.json
benchmark-*.json
datasets/gpt-large-cased-vocab-small_text_document/cache/
abnormal.txt
gpu-rank-map.txt